/* == Navbar == */

.navbar {
    background-image: url('../img/dip/nav_bg_small.png');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    position: relative;
}

.container-fluid {
    z-index: 5;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fcda70;
    font-size: 14px;
}

.navbar .navbar-nav .nav-item .nav-link .text-white {
    color: #ffffff;
}

.nav-icon-activity {
    margin-top: 10px;
    height: 15px;
}

.nav-icon-alert {
    position: absolute;
    top: 10px;
    right: 3px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../img/dip/icon/circle_alert.png');
}

.nav-item:hover .nav-icon-alert {
    color: red;
    position: absolute;
    top: 10px;
    right: 3px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../img/dip/icon/circle_alert_hover.png');
}

.nav-icon-alert span {
    position: absolute;
    top: 0;
    right: 6px;
    line-height: 20px;
    font-size: 9px;
}

.dropdown-menu {
    left: 10px;
}

.dip_user-desk {
    display: block;
}

.dip_user-mobile {
    display: none;
}

.nav-mobile-menu {
    display: none!important;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item .dropdown-menu:before {
        left: unset;
        right: 12px;
    }
    .navbar-nav .nav-item .dropdown-menu:after {
        left: unset;
        right: 12px;
    }
}

@media (max-width: 991px) {
    .nav-icon-alert {
        position: relative;
        top: 23px;
        left: 16px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url('../img/dip/icon/circle_alert.png');
    }
    .nav-item:hover .nav-icon-alert {
        position: relative;
        color: red;
        top: 23px;
        left: 16px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-image: url('../img/dip/icon/circle_alert_hover.png');
    }
    .nav-icon-activity {
        height: 20px;
    }
    /* list in menu user */
    .dip_user-desk {
        display: none;
    }
    .dip_user-mobile {
        display: block;
    }
    .nav-mobile-menu {
        display: block!important;
    }
    .nav-mobile-menu .dropdown .dropdown-menu .dropdown-item {
        margin: 0px;
        transform: none!important;
    }
    .nav-mobile-menu .nav-item .nav-link .nav-icon-alert span {
        color: #ffffff!important;
    }
}


/* Hamberger Menu */

.navbar .navbar-toggler.navbar-toggler-right {
    position: absolute;
    right: 15px;
    top: 5px;
}

.navbar .navbar-toggler .burger-lines {
    background-color: #ffffff;
}

@media screen and (max-width: 767.98px) {
    .nav-mobile-menu .nav-link {
        color: #061a4f!important;
    }
    .nav-mobile-menu .dip-user {
        padding-left: 0!important;
    }
}


/* == Logo == */

.logo {
    background-image: url('../img/dip/nav_bg_small.png');
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

.dip_logo {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 6px;
}


/* == Side Bar == */

.sidebar:after,
body>.navbar-collapse:after {
    background: rgba(209, 221, 226, 1)!important;
    background: -moz-linear-gradient(top, rgba(209, 221, 226, 1) 0%, rgba(246, 246, 246, 1) 70%, rgba(255, 255, 255, 1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209, 221, 226, 1)), color-stop(70%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)))!important;
    background: -webkit-linear-gradient(top, rgba(209, 221, 226, 1) 0%, rgba(246, 246, 246, 1) 70%, rgba(255, 255, 255, 1) 100%)!important;
    background: -o-linear-gradient(top, rgba(209, 221, 226, 1) 0%, rgba(246, 246, 246, 1) 70%, rgba(255, 255, 255, 1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(209, 221, 226, 1) 0%, rgba(246, 246, 246, 1) 70%, rgba(255, 255, 255, 1) 100%)!important;
    background: linear-gradient(to bottom, rgba(209, 221, 226, 1) 0%, rgba(246, 246, 246, 1) 70%, rgba(255, 255, 255, 1) 100%)!important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d1dde2', endColorstr='#ffffff', GradientType=0);
}

.sidebar .nav li .nav-link.nav-link-sub {
    padding-left: 25px;
}

.sidebar .nav li.active .nav-link {
    margin: 5px 0px;
    padding: 10px 30px;
    border-radius: 0px;
}

.dip_icon-sidemenu {
    width: 15px;
    margin-right: 5px;
}

.dip_icon-sidemenu_triangle {
    width: 10px;
    position: absolute;
    right: 35px;
    margin-top: 15px;
}

.sidebar .nav li .nav-link p {
    font-size: 14px;
}


/* Content */

.dip_navigate h4 {
    margin: 0;
}

.dip_navigate p {
    font-size: 14px;
}

.dip-header {
    background-color: #fc8226;
    position: absolute;
    top: -15px;
    left: 15px;
    padding: 10px;
    border-radius: 5px;
}

.dip-header img {
    float: left;
    margin-right: 10px;
    height: 15px;
    margin-top: 2px;
}

.dip-header p {
    float: left;
    margin: 0px;
    font-size: 14px;
    color: #fff;
}


/* == Footer == */

@media screen and (min-width: 992px) {
    .footer .copyright {
        font-size: 11px;
        float: left!important;
    }
    .footer .footer-menu {
        float: right!important;
    }
    .footer .footer-menu {
        display: block;
    }
    .footer-mobile {
        display: none;
        font-size: 14px;
    }
    .footer-mobile a {
        color: #000000;
    }
}

@media screen and (max-width: 991px) {
    .footer .footer-menu {
        display: none;
    }
    .footer-mobile {
        display: block;
        margin: 0;
        font-size: 14px;
        text-align: center;
    }
    .footer-mobile a {
        color: #000000;
    }
}

@media screen and (max-width: 767px) {
    .footer-mobile {
        display: block;
        margin: 0;
        font-size: 10px;
        text-align: center;
    }
    .footer-mobile a {
        color: #000000;
    }
}


/* == Login Page == */

.dip-login {
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-cancel {
    width: 100%;
    height: 45px;
    color: #000000;
    border-radius: 5px;
    border: none;
    background-color: #dcdcdc;
}


/* -- Dark Theme -- */

.dark {
    background-image: url('../img/dip/dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dark .dip-logotheme {
    width: 250px;
    height: 65px;
    background-image: url('../img/dip/logo_light.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.dark .content-login {
    width: 30vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    /* background-color: #ffffff; */
    background-color: #061a4f;
}

.dark .content-header {
    width: 100%;
    height: 10px;
    background-image: url('../img/dip/header.png');
    background-color: #061a4f;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: right;
}

.dark .btn-submit {
    width: 100%;
    height: 45px;
    color: #000000;
    border-radius: 5px;
    border: none;
    background-color: #ff941f;
}

.dark .btn-submit_test {
    width: 100%;
    height: 45px;
    color: #000000;
    border-radius: 5px;
    border: none;
    background-color: #ff941f;
    text-align: center;
    padding-top: 10px;
}

.dark .btn-link {
    color: #ffffff;
}

.dark .dip-login-form::-webkit-input-placeholder {
    color: #000000;
}

.dark .dip-login-form::-ms-input-placeholder {
    color: #000000;
}

.dark .dip-login-form::placeholder {
    color: #000000;
}

.dark .content-footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.dark .content-footer .footer {
    background-color: #000000;
}

.dark .footer nav>ul a:not(.btn) {
    color: #ffffff;
}

.dark .footer .copyright {
    color: #ffffff;
}

.dark .footer-menu {
    display: block;
}

.dark .footer-mobile {
    margin: 0;
    font-size: 14px;
    text-align: center;
    display: none;
}

.dark .footer-mobile a {
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .dark .content-login {
        width: 40vw;
    }
}

@media screen and (max-width: 992px) {
    .dark .footer-menu {
        display: none;
    }
    .dark .content-footer {
        height: 95px;
    }
    .dark .content-login {
        width: 100vw;
        height: 60vh;
        position: absolute;
        right: 0;
        top: calc((100%/2) - 30vh);
        display: flex;
        align-items: center;
        background-color: #061a4f;
    }
}

@media screen and (max-width: 576px) {
    .dark .footer-mobile {
        display: block;
    }
    .dark .content-login {
        top: calc((100%/2) - 35vh);
    }
    .dark .content-footer {
        height: 115px;
    }
}


/* -- Light Theme -- */

.light {
    background-image: url('../img/dip/light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.light .dip-logotheme {
    width: 250px;
    height: 65px;
    background-image: url('../img/dip/logo_dark.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.light .content-login {
    width: 30vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.light .content-header {
    width: 100%;
    height: 10px;
    background-image: url('../img/dip/header.png');
    background-color: #061a4f;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: right;
}

.light .btn-submit {
    width: 100%;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    background-color: #061a4f;
}

.light .btn-submit_test {
    width: 100%;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    background-color: #061a4f;
    text-align: center;
    padding-top: 10px;
}

.light .btn-link {
    color: #000000;
}

.light .dip-login-form::-webkit-input-placeholder {
    color: #000000;
}

.light .dip-login-form::-ms-input-placeholder {
    color: #000000;
}

.light .dip-login-form::placeholder {
    color: #000000;
}

.light .content-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.light .content-footer .footer {
    background-color: #000000;
}

.light .footer nav>ul a:not(.btn) {
    color: #ffffff;
}

.light .footer .copyright {
    color: #ffffff;
}

.light .footer-menu {
    display: block;
}

.light .footer-mobile {
    margin: 0;
    font-size: 14px;
    text-align: center;
    display: none;
}

.light .footer-mobile a {
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .light .content-login {
        width: 40vw;
    }
}

@media screen and (max-width: 992px) {
    .light .footer-mobile {
        display: block;
    }
    .light .footer-menu {
        display: none;
    }
    .light .content-footer {
        height: 95px;
    }
    .light .content-login {
        width: 100vw;
        height: 60vh;
        position: absolute;
        right: 0;
        top: calc((100%/2) - 30vh);
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
    }
}

@media screen and (max-width: 576px) {
    .light .content-login {
        top: calc((100%/2) - 35vh);
    }
    .light .content-footer {
        height: 115px;
    }
}


/* == Table == */

.page-link {
    color: #000000;
}

.page-item .page-link {
    border: none;
}

.page-item.active .page-link {
    background-color: #061a4f;
    color: #ffffff;
    border-radius: 30px;
    width: 35px;
    height: 35px;
}